body {
    font-family: Arial, sans-serif;
    background-color: #FFFF ; /* Replace 'background.jpg' with the name of your image file */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    font-size: 1.5em;
    font-weight :  bold;
    text-align: center;
    margin-bottom: 20px;
}
.address{
    font-size: 1em
    text-align: center;

.subheader {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

.paragraph-box {
    border: 1px solid #ccc;
    border-radius : 25px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: transparent; /* Transparent white background */
}

.paragraph-box h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
    background-color: transparent;
}

.paragraph-box h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
    background-color: transparent;
}

.paragraph-box p {
    margin: 0;
    background-color: transparent;
    border-radius : 25px;
}
