body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Replace 'background.jpg' with the name of your image file */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
/*     background-color: rgba(255, 255, 255, 0.8); */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.subheader {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

.paragraph-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
/*     background-color: rgba(255, 255, 255, 0.8); */
}

.paragraph-box h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.paragraph-box h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.paragraph-box p {
    margin: 0;
}
